/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LOMA: Nextflow config file for defining defult parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

//GLOBAL
  help = null

  input = null
  run_dir = null
  outdir = 'results'
  input_type = null

  max_memory = '75.GB'
  max_cpus = 46
  max_time = '240.h'

  skip_assembly = null
  skip_taxonomic_profiling = null
  skip_bacterial_typing = null

  pipeline_version = '0.5'
  logo = "$projectDir/data/blank_logo.png"

  input_type = "fastq"


//RUN_QC
  FETCH_FASTQ.args = ""
  FETCH_SEQSUM.args = ""
  PYCOQC.args = ""


//READ_QC
  NANOPLOT_PREQC.args = ""
  SEQTK_FQCHK_PREQC.args = ""
  PORECHOP_PORECHOP.args = ""
  FILTLONG.args = ""
  FILTLONG.min_length = 650
  FILTLONG.keep_percent = 95
  SEQTK_FQCHK.endseq_len = 300


//READ_DECONTAMINATION
  MINIMAP2_ALIGN.args = ""
  FILTER_MAPPED.args = ""
  KRAKEN2_HOST.args = ""
  FILTER_READLIST.args = ""
  SEQKIT_GREP.args = ""
  NANOPLOT_POSTQC.args = ""
  SEQTK_FQCHK_POSTQC.args = ""
  READ_DECONTAMINATION.host_assembly = "" // Host reference genome in fasta or mmi format
  READ_DECONTAMINATION.host_krakendb = "" // Host reference Kraken2 database (*.k2d, *.map, etc)


//PLOT_READQC
  PLOT_READQCMETRICS.args = ""
  PLOT_READQCMETRICS.template = "$projectDir/data/readqc_report_template.html"


//TAXONOMIC_PROFILING
  KRAKEN2_TAXPROFILING.args = ""
  TAXPASTA_STANDARDISE_KRAKEN2.args = ""
  BRACKEN_KRAKEN2.args = ""
  TAXPASTA_STANDARDISE_BRACKEN.args = ""
  CENTRIFUGER_CENTRIFUGER.args = ""
  CENTRIFUGER_KREPORT.args = ""
  BRACKEN_CENTRIFUGER.args = ""
  TAXPASTA_STANDARDISE_CENTRIFUGER.args = ""
  PLOT_CENTRIFUGERBRACKEN.args = ""
  PLOT_CENTRIFUGER.args = ""
  SYLPH_SKETCH.args = ""
  SYLPH_PROFILE.args = ""
  PLOT_SYLPH.args = ""
  PLOT_KRAKEN2BRACKEN.args = ""
  PLOT_KRAKEN2.args = ""
  PARSE_KRAKEN2HITS.args = ""
  PARSE_CENTRIFUGERHITS.args = ""
  PARSE_SYLPHHITS.args = ""
  PLOT_TAXHITS.args = ""
  TAXONOMIC_PROFILING.krakendb = "" // Reference Kraken2 database for taxonomic assignment (*.k2d, *.map, etc)
  TAXONOMIC_PROFILING.centrifugerdb = "" // Reference Centrifuger database for taxonomic assignment (*.cfr)
  TAXONOMIC_PROFILING.sylphdb = "" // Reference Sylph database for taxonomic assignment (*.syldb)
  TAXONOMIC_PROFILING.use_decontaminated_reads = null

  TAXONOMIC_PROFILING.gtdb_metadata = "$projectDir/data/gtdb_r220_metadata.tsv.gz"
  TAXONOMIC_PROFILING.dbdir = "" // (names.dmp, merged.dmp, nodes.dmp)
  TAXONOMIC_PROFILING.target_species = "$projectDir/data/target_species.tsv"
  PARSE_KRAKEN2HITS.min_target_reads = 1
  PARSE_KRAKEN2HITS.min_target_fraction = 0
  PARSE_CENTRIFUGERHITS.min_target_reads = 1
  PARSE_CENTRIFUGERHITS.min_target_fraction = 0
  PARSE_SYLPHHITS.min_target_reads = 1
  PARSE_SYLPHHITS.min_target_fraction = 0
  TAXONOMIC_PROFILING.template = "$projectDir/data/taxhits_report_template.html"

//ASSEMBLY
  FLYE.args = ""
  FLYE.read_type = "--nano-raw"
  MINIMAP2_ALIGN_BIN_1.args = ""
  MINIMAP2_ALIGN_BIN_2.args = ""
  MINIMAP2_ALIGN_BIN_3.args = ""
  MINIMAP2_ALIGN_BIN_4.args = ""
  MINIMAP2_ALIGN_BIN_5.args = ""
  RACON_1.args = ""
  RACON_2.args = ""
  RACON_3.args = ""
  RACON_4.args = ""
  MEDAKA.args = ""
  SAMTOOLS_INDEX.args = ""
  ASSEMBLY.racon_rounds = 4
  ASSEMBLY.medaka = false


//ASSIGN_BINS
  TIARA_TIARA.args = ""
  FILTER_CONTIGS.args = ""
  SEMIBIN_SINGLEEASYBIN.args = ""
  SAMTOOLS_VIEW_1.args = ""
  METADECODER_COVERAGE.args = ""
  METADECODER_SEED.args = ""
  METADECODER_CLUSTER.args = ""
  DASTOOL_FASTATOCONTIG2BIN_METADECODER.args = ""
  DASTOOL_FASTATOCONTIG2BIN_SEMIBIN2.args = ""
  DASTOOL_DASTOOL.args = ""
  FETCH_UNBINNED.args = ""
  RENAME_CONTIGS.args = ""
  SEMIBIN_SINGLEEASYBIN.environment = 'human_gut'
  DASTOOL_DASTOOL.score_threshold = 0.05


//CONTIG_QC
  MINIMAP2_ALIGN_1.args = ""
  GENOMAD_ENDTOEND.args = ""
  SKANI_SEARCH.args = ""
  SEQKIT_FX2TAB.args = ""
  SAMTOOLS_INDEX_1.args = ""
  SAMTOOLS_COVERAGE.args = ""
  SKANI_SEARCH.db = '' // Skani database (*.sketch)
  GENOMAD_ENDTOEND.db = '' // geNomad database (various files)

//BIN_QC
  CHECKM_LINEAGEWF.args = ""
  GTDBTK_CLASSIFYWF.args = ""
  QUAST.args = ""
  ASSEMBLY_STATS.args = ""
  PLOT_BINS.args= ""
  PLOT_BINS.template = "$projectDir/data/bin_report_template.html"
  GTDBTK_CLASSIFYWF.mash_db = "" // GTDB mash database (*.msh)
  GTDBTK_CLASSIFYWF.gtdb_db = "" // GTDB database (various files)
  GTDBTK_CLASSIFYWF.release = "release220"
  CHECKM_LINEAGEWF.db = "" // CheckM database (various files)
  GTDBTK_CLASSIFYWF.min_perc_aa = 10
  gtdbtk_min_perc_aa = GTDBTK_CLASSIFYWF.min_perc_aa
  GTDBTK_CLASSIFYWF.min_af = 0.65
  gtdbtk_min_af = GTDBTK_CLASSIFYWF.min_af
  GTDBTK_CLASSIFYWF.pplacer_scratch = true
  gtdbtk_pplacer_scratch = GTDBTK_CLASSIFYWF.pplacer_scratch


//BIN_TAXONOMY
  ASSIGN_TAXONOMY.args= ""
  FILTER_BAM.args = ""
  MEDAKA_MAG.args = ""
  ASSIGN_TAXONOMY.definitiontable = "$projectDir/data/taxonomy_guide_gtdbr220.tsv"
  ASSIGN_TAXONOMY.ani_cutoff = 0.75
  ASSIGN_TAXONOMY.aln_frac = 0.75
  BIN_TAXONOMY.medaka_mag = false


//PROKARYA TYPING
////AMR_TYPING
  AMRFINDERPLUS_RUN.args = ""
  ABRICATE_RUN.args = ""
  ABRITAMR_RUN.args = ""
  RGI_MAIN.args = ""
  RESFINDER.args = ""
  HAMRONIZATION_ABRICATE.args = ""
  HAMRONIZATION_RGI.args = ""
  HAMRONIZATION_AMRFINDERPLUS.args = ""
  HAMRONIZATION_RESFINDER.args = ""
  HAMRONIZATION_POINTFINDER.args = ""
  HAMRONIZATION_SUMMARIZE.args = ""

  RESFINDER.db = "" // ResFinder database (various files)
  RESFINDER.db_version = "2.3.2"
  RESFINDER.software_version = "4.5.0"

  POINTFINDER.db = "" // PointFinder database (various files)
  POINTFINDER.db_version = "4.1.0"
  POINTFINDER.software_version = "4.5.0"

  AMRFINDERPLUS_RUN.db_version = "2024-01-31.1"
  AMRFINDERPLUS_RUN.software_version = "3.12.8"

  ABRICATE_RUN.db_version = "2024-Apr-30"
  ABRICATE_RUN.software_version = "1.0.1"

  RGI_MAIN.db_version = " "
  RGI_MAIN.software_version = "6.0.3"

////SEQUENCE_TYPING
  MLST.args = ""
  CONVERT_MLSTTOCC.args = ""
  KROCUS.args = ""
  CONVERT_KROCUSTOCC.args = ""
  SEQUENCE_TYPING.cc_definitions = "$projectDir/data/clonal_complex_designations.json"
//  MLST.yersinia_blastdb = '/data/PROJECTS/DB_ONT_PIPELINE_TEST/loma_v0.2/mlst/yersinia_mcnally.fa'
//  MLST.yersinia_datadir = '/data/PROJECTS/DB_ONT_PIPELINE_TEST/loma_v0.2/data/pubmlst/'


////TARGETED_TYPING
  PLASMIDFINDER.args = ""
  VIRULENCEFINDER.args = ""
  BLASTN_BLASTN.args = ""
  FILTER_BLAST.args = ""
  GENEFINDER.args = ""
  VIRULENCEFINDER.db = "" // VirulenceFinder database (various files)
  TARGETED_TYPING.genedbdir = "" // GeneDBs
  SUMMARIZE_GENEFINDING.args = ""

////ECOLI
  ECTYPER.args = ""
  STECFINDER.args = ""
  SHIGEIFINDER.args = ""
  MYKROBE_PREDICT_SSONNEI.args = "--panel 20210201"
  SHIGATYPER.args = ""
  FILTER_ECOLI.args = ""

////SALMONELLA
  MYKROBE_PREDICT_STYPHI.args = "--panel 20221207"
  SEQOSEQ2.args = ""
  SISTR.args = ""
  MYKROBE_PREDICT_SPARATYPHIB.args = "--panel 20230627"
  FILTER_TYPING_SALMONELLA.args = ""
  FILTER_SALMONELLA.args = ""

////LISTERIA_MONOCYTOGENES
  LISSERO.args = ""


//CREATE_REPORT
  CREATE_REPORT.summary_template = "$projectDir/data/summary_report_template.html"
  CREATE_REPORT.amr_template = "$projectDir/data/amr_report_template.html"
  CREATE_REPORT.amr_tool = 'resfinder'
  SUMMARIZE_RESULTS.tax_mode = "Kraken2"
  SUMMARIZE_RESULTS.args = ""
  SUMMARIZE_AMR.args = ""


//CUSTOM_DUMPSOFTWAREVERSIONS
  CUSTOM_DUMPSOFTWAREVERSIONS.args = ""

}
